nav{    
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;        
}

nav li{
    display: flex;        
    margin: 1rem;
}

nav a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;    
    margin: 0 1rem;
}

@media (max-width:850px) {
    nav li{
        display: none;
    }
}